.word {
  height: 50px;
  width: 50px;
  border: 0px solid opx;
  background-color: red;
  border-radius: 25px;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  border: 0.2px solid #ffffff;
}

.button {
  border: none;
  background-color: transparent;
  height: 10px;
  width: 10px;
  margin-top: 30px;
}

.deleteicon {
  height: 30px;
  width: 25px;
}
